#contents
  .sidebar
    .sidebar-nav
      %span.sidebar-nav__user-name hoge
      %span.sidebar-nav__make-group
      %span.sidebar-nav__edit-user
    .sidebar-body
      %button.joined-group
        .joined-group__group-name test
        .joined-group__group-message huge
      %button.joined-group
        .joined-group__group-name test-man
        .joined-group__group-message hogu


  .chat
    .chat-nav
      .chat-nav__left
        %h2 testsss
        %span Members: user1 user2
      .chat-nav__right
        %button Edit
    .chat-body
      .message
        .message__detail
          %span.message__user-name user1
          %span.message__sended-date 2000/01/01 00:00:00
        %span.message__content hogehoge
      .message
        .message__detail
          %span.message__user-name user1
          %span.message__sended-date 2000/01/01 00:00:00
        %span.message__content hogehoge
      .message
        .message__detail
          %span.message__user-name user1
          %span.message__sended-date 2000/01/01 00:00:00
        %span.message__content hogehoge
      .message
        .message__detail
          %span.message__user-name user1
          %span.message__sended-date 2000/01/01 00:00:00
        %span.message__content hogehoge
      .message
        .message__detail
          %span.message__user-name user1
          %span.message__sended-date 2000/01/01 00:00:00
        %span.message__content hogehoge
      .message
        .message__detail
          %span.message__user-name user1
          %span.message__sended-date 2000/01/01 00:00:00
        %span.message__content hogehoge
      .message
        .message__detail
          %span.message__user-name user1
          %span.message__sended-date 2000/01/01 00:00:00
        %span.message__content hogehoge

    #chat-footer
      %form.new-message
        %input.new-message__input-form{type: "text", placeholder: "type a message"}
        %input.new-message__file-form{type: "file", style: "display:none"}
        %button.new-message__submit-btn{type: "submit"} Send
