#contents
  .sidebar
    .sidebar-nav
      .sidebar-nav__user-name
        %span hoge
      .sidebar-nav__settings
        %i.fa.fa-pencil-square-o.fa-inverse.fa-lg
        %i.fa.fa-cog.fa-inverse.fa-lg
    .sidebar-body
      %button.joined-group
        .joined-group__group-name test
        .joined-group__group-message huge
      %button.joined-group
        .joined-group__group-name test-man
        .joined-group__group-message hogu


  .chat
    .chat-nav
      .chat-nav__left
        %h2 testsss
        %span Members: user1 user2
      .chat-nav__right
        %button Edit
    .chat-body
      .message
        .message__detail
          %span.message__user-name user1
          %span.message__sended-date 2000/01/01 00:00:00
        %span.message__content hogehoge

    #chat-footer
      %form.new-message
        %input.new-message__input-form{type: "text", placeholder: "type a message"}
        %i.fa.fa-image.fa-lg
        %input.new-message__file-form{type: "file", style: "display:none"}
        %button.new-message__submit-button{type: "submit"} Send
