.contents
  =render partial: "common/sidebar", locals: {groups: current_user.groups}
  .chat
    .chat-nav
      .chat-nav__left
        =render partial: "group-info", locals: {users: @group.users}
      .chat-nav__right
        =link_to "Edit", edit_group_path(@group)
    .chat-body
      =render @group.messages
    .chat-footer
      =form_for @message, url: group_messages_path(@group), html: {class: "new-message"} do |f|
        =f.text_field :body, class: "new-message__input-form", placeholder: "type a message"
        =f.label :image do
          %i.fa.fa-image.fa-lg
          =f.file_field :image, class: "new-message__file-form"
        =f.submit class: "new-message__submit-button", value: "Send"
