/* common */
$nav-height: 100px;
$notification-color: #38AEF0;

/* sidebar */
$sidebar-padding: 0 20px;
$sidebar-font-color: #fff;

/* main-content */
$chat-padding: 40px;
$chat-supplement: #999999;
$message-font-color: #434A54;

/* message input form */
$form-height: 50px;
