.sidebar {
  height: 100%;
  float: left;
  width: 300px;

  /* sidebar navigation */
  &-nav {
    background-color: #253141;
    height: $nav-height;
    padding: $sidebar-padding;
    &__user-name {
      display: inline-block;
      font: bold 16px Arial,sans-serif;
      color: $sidebar-font-color;
      line-height: $nav-height;
    }
    &__settings {
      float: right;
      padding: 15px 0 15px 3px;
      margin: 20px 0;
    }
  }

  /* sidebar group list */
  .sidebar-body {
    height: calc(100vh - 100px);
    background-color: #2f3e51;

    a {
      text-decoration: none;
    }
    .joined-group {
      display: block;
      width: 100%;
      padding: 20px 0;
      text-align: left;
      text-decoration: none;
      background-color: inherit;
      border: none;
      color: $sidebar-font-color;
      &__group-name {
        padding: $sidebar-padding;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__group-message {
        padding: $sidebar-padding;
        font-size: 11px;
      }
    }
  }
}
