// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contents {
  height: 100vh;
  min-width: 1000px;
}

#sidebar {
  height: 100%;
  float: left;
  width: 300px;

  .sidebar-nav {
    background-color: #253141;
    height: $nav-height;
    padding: $sidebar-padding;
    .sidebar-nav__user-name {
      font: bold 16px Arial,sans-serif;
      color: $sidebar-font-color;
      line-height: $nav-height;
    }
  }

  .sidebar-body {
    height: calc(100vh - 100px);
    background-color: #2f3e51;

    .joined-group {
      width: 100%;
      padding: 20px 0;
      background-color: inherit;
      border: none;
      text-align: left;
      color: $sidebar-font-color;

      .joined-group__group-name {
        padding: $sidebar-padding;
        font-size: 15px;
        margin-bottom: 5px;
      }
      .joined-group__group-message {
        padding: $sidebar-padding;
      }
    }
  }
}

#chat {
  width: calc(100% - 300px);
  float: right;

  #chat-nav {
    @include clearfix();
    height: $nav-height;
    padding: 0 $chat-nav-padding;

    .chat-nav__left {
      display: inline-block;
      padding: 35px 0 0;
      h2 {
        padding-bottom: 15px;
        font-size: 20px;
        line-height: 20px;
        color: #333;
      }
      span {
        float: left;
        font-size: 12px;
        color: #999;
      }
    }
    .chat-nav__right {
      float: right;
      padding: 28px 0;

      button {
        height: 40px;
        padding: 0 20px;
        border: solid 2px $notification-color;
        background-color: #FFF;
        color: $notification-color;
        font-size: 14px;
      }
    }
  }

  #chat-body {
    background-color: #AAA;
  }
}

#chat-footer {
  position: absolute;
  background-color: beige;
  bottom: 0;
  left: 300px;
  width: calc(100% - 300px);
  min-width: 700px;
}


/*いくつかの要素をまとめる要素を作る
そこにpadding適用する*/
